<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fi.team7.playformance">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Playformance">
        <activity android:name="Notes.WinsScreen"></activity>
        <activity android:name="Notes.FaultsScreen" />
        <activity android:name=".ActivitySelectionForPlayer" />
        <activity android:name="Teams.SelectionofPlayer"
            android:parentActivityName="Teams.SelectTeam" />
        <activity android:name=".DetailActivity" />
        <activity
            android:name=".SecondActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name="Teams.SelectTeam"
            android:parentActivityName=".SecondActivity" />
        <activity
            android:name="Teams.TeamCreationSC"
            android:parentActivityName=".SecondActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>