<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fi.team7.playformance">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.type.watch" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Playformance">
        <activity android:name=".PlayerResult"
            android:parentActivityName=".PerformancePlayers"></activity>
        <activity android:name=".PerformancePlayers"
           android:parentActivityName=".Performance" /> <!-- <uses-library -->
        <!-- android:name="com.google.android.wearable" -->
        <!-- android:required="true" /> -->
        <!-- &lt;!&ndash; -->
        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity android:name=".Performance"
            android:parentActivityName=".SecondActivity" />
        <activity
            android:name=".notes.WinsScreen"
            android:parentActivityName=".teams.SelectionForPlayer" />
        <activity
            android:name=".notes.FaultsScreen"
            android:parentActivityName=".teams.SelectionForPlayer" />
        <activity
            android:name=".teams.SelectionForPlayer"
            android:parentActivityName=".teams.SelectionOfPlayer" />
        <activity
            android:name=".teams.NewPlayer"
            android:parentActivityName=".teams.SelectionOfPlayer" />
        <activity
            android:name=".teams.SelectionOfPlayer"
            android:parentActivityName=".teams.SelectTeam" />
        <activity
            android:name=".SecondActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".teams.SelectTeam"
            android:parentActivityName=".SecondActivity" />
        <activity
            android:name=".teams.TeamCreationSC"
            android:parentActivityName=".SecondActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>